@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #000;
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

#header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 0 20px;
}

#header .logo {
  width: 100%;
  max-width: 150px;
}

#header .logo a {
  display: block;
}

#header .navi .menu {
  display: flex;
  align-items: center;
}

#header .navi .menu li {
  font-size: 14px;
  margin-left: 40px;
}

/* --------------------------------------
スマートフォン
---------------------------------------*/
@media screen and (max-width: 767px) {
  main {
    padding-top: 60px;
  }

  #header {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
}
